<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.components">
    <uses-permission android:name="com.example.components.PERMISSION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Components">

        <service android:name=".component.MyServices" />

        <receiver
            android:name=".component.AirplaneReceiver"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".component.MyContentProvider"
            android:authorities="com.example.components.component"
            android:exported="true"
            android:grantUriPermissions="true"/>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ServiceExampleActivity" />
        <activity android:name=".ReceiverExampleActivity" />
        <activity android:name=".ContentExampleActivity"/>
    </application>

</manifest>